#container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
}
.square {
  box-sizing: border-box;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.square:hover{
    background-color: aqua;
}
#buttons{
    display: flex;
}
